@font-face {
  font-family: "iconfont"; /* Project id 3684229 */
  src: url('iconfont.woff2?t=1675273951457') format('woff2'),
       url('iconfont.woff?t=1675273951457') format('woff'),
       url('iconfont.ttf?t=1675273951457') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-wenjianleixing-biaozhuntu-shipinwenjian:before {
  content: "\e6a5";
}

.icon-wancheng:before {
  content: "\e6a3";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-shujukanban:before {
  content: "\eb66";
}

.icon-icon:before {
  content: "\e694";
}

.icon-dui:before {
  content: "\e715";
}

.icon-fangxiang-you-shuangxian:before {
  content: "\e6d2";
}

.icon-fangxiang-zuo-shuangxian:before {
  content: "\e6d3";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-ic_userlevel_:before {
  content: "\e6cb";
}

.icon-ic_userlevel_1:before {
  content: "\e6cc";
}

.icon-ic_userlevel_2:before {
  content: "\e6cd";
}

.icon-ic_userlevel_3:before {
  content: "\e6ce";
}

.icon-ic_userlevel_4:before {
  content: "\e6cf";
}

.icon-ic_userlevel_5:before {
  content: "\e6d0";
}

.icon-ic_userlevel_6:before {
  content: "\e6d1";
}

.icon-drag:before {
  content: "\e842";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-paixu:before {
  content: "\e655";
}

.icon-liebiao:before {
  content: "\e604";
}

.icon-icon_category:before {
  content: "\e61e";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-loading:before {
  content: "\e644";
}

.icon-caidanguanli:before {
  content: "\e618";
}

.icon-geren:before {
  content: "\e706";
}

.icon-dianzan:before {
  content: "\e607";
}

.icon-shipin:before {
  content: "\e656";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-shoucang:before {
  content: "\e60e";
}

.icon-bofang1:before {
  content: "\e696";
}

.icon-Community:before {
  content: "\e639";
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-shoujitianchong:before {
  content: "\e6c4";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-taojinbi:before {
  content: "\e756";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-b:before {
  content: "\e682";
}

.icon-yinle:before {
  content: "\e602";
}

.icon-yizan:before {
  content: "\e615";
}

.icon-caozuo-pindaojia:before {
  content: "\e632";
}

.icon-ketang:before {
  content: "\e613";
}

.icon-huodong:before {
  content: "\e62a";
}

.icon-liebiaoxunhuan:before {
  content: "\e609";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-UPzhu:before {
  content: "\e665";
}

.icon-diqiu:before {
  content: "\e689";
}

.icon-weibiaoti-:before {
  content: "\e614";
}

.icon-shouji:before {
  content: "\e62e";
}

.icon-bofang2:before {
  content: "\e70a";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-jiahao:before {
  content: "\e603";
}

.icon-weimingmingwenjianjia_lanmu:before {
  content: "\e638";
}

.icon-changyongicon-:before {
  content: "\e612";
}

.icon-changyongicon-1:before {
  content: "\e617";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-huo:before {
  content: "\e6c0";
}

.icon-fenxiangzhuanfa:before {
  content: "\e716";
}

.icon-shizhong:before {
  content: "\e652";
}

.icon-a-youjianchakanyoujianfasongyoujianshouyoujian-08:before {
  content: "\e918";
}

.icon-number-8:before {
  content: "\e777";
}

.icon-number-9:before {
  content: "\e779";
}

.icon-number-7:before {
  content: "\e77b";
}

.icon-number-6:before {
  content: "\e77d";
}

.icon-number-4:before {
  content: "\e77e";
}

.icon-number-5:before {
  content: "\e77f";
}

.icon-number-1:before {
  content: "\e780";
}

.icon-number-0:before {
  content: "\e781";
}

.icon-number-2:before {
  content: "\e782";
}

.icon-number-3:before {
  content: "\e784";
}

.icon-bofang:before {
  content: "\e66e";
}

